<div class="jumbotron">
  <h1 class="display-4">Textiles by Mairead Daly</h1>
  <p class="lead">Handmade, ethical and environmentally friendly textiles from the heart of West Brunswick 🌱</p>
  <a class="btn btn-primary btn-lg" href="#" role="button" style="background-color: #636f69;">Shop Now</a>
   <hr class="my-4">
  <%= image_tag "hero-image" %>
</div>